eye_tracker/Debug
eye_tracker/x64
eye_tracker/eye_tracker.opensdf
eye_tracker/eye_tracker.vcxproj
eye_tracker/eye_tracker.vcxproj.filters
eye_tracker/eye_tracker.sdf
eye_tracker/eye_tracker.v12.suo
*.vspx
*.config
eye_tracker/packages/nupengl.core.0.0.0.1/build/configurations.autopkg
*.xml
*.exe
eye_tracker/packages/nupengl.core.redist.0.0.0.1/build/native/bin/Win32/v120/glew32.dll
*.txt
eye_tracker/packages/nupengl.core.0.0.0.1/build/native/include/GL/freeglut.h
eye_tracker/packages/nupengl.core.0.0.0.1/build/native/include/GL/freeglut_ext.h
eye_tracker/packages/nupengl.core.0.0.0.1/build/native/include/GL/freeglut_std.h
eye_tracker/packages/nupengl.core.0.0.0.1/build/native/lib/x64/v120/glfw3dll.lib
eye_tracker/packages/nupengl.core.0.0.0.1/build/native/nupengl.core.targets
eye_tracker/packages/nupengl.core.0.0.0.1/nupengl.core.0.0.0.1.nupkg
eye_tracker/packages/nupengl.core.0.0.0.1/nupengl.core.0.0.0.1.nuspec
eye_tracker/packages/nupengl.core.redist.0.0.0.1/build/configurations.autopkg
eye_tracker/packages/nupengl.core.redist.0.0.0.1/build/native/bin/Win32/v120/freeglut.dll
*.dll
*.lib
eye_tracker/packages/nupengl.core.redist.0.0.0.1/nupengl.core.redist.0.0.0.1.nuspec
*.nupkg
eye_tracker/packages/nupengl.core.redist.0.0.0.1/build/native/nupengl.core.redist.targets
eye_tracker/packages/nupengl.core.0.0.0.1/build/native/include/GLFW/glfw3native.h
eye_tracker/packages/nupengl.core.0.0.0.1/build/native/include/GLFW/glfw3.h
eye_tracker/packages/nupengl.core.0.0.0.1/build/native/include/GL/wglew.h
eye_tracker/packages/nupengl.core.0.0.0.1/build/native/include/GL/glxew.h
eye_tracker/packages/nupengl.core.0.0.0.1/build/native/include/GL/glut.h
eye_tracker/packages/nupengl.core.0.0.0.1/build/native/include/GL/glew.h
*.jpg